.history-container{
    padding-top: 100px;
    width: max-content;
    margin: 0 auto;
}
.title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom:10px ;
}
.veg-info-container{
    background-color: #F3F3F3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0,25%);
    padding: 0px 15px;
    width: 363px;
    margin-left:10px ;
}
.veg-info-name{
    font-size: 18px;
    font-weight: bold;
    text-decoration:underline;
}
.veg-NPK{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-right:8% ;
}
.veg-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 5px;
    height: 84px;
    border-bottom:1px solid #989898 ;
}
.veg-info:last-child{
    border-bottom:0px solid #989898 ;
}
.history-card{
    margin-bottom: 30px;
}